/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary: white;
  --secondary: black;
}

.dark-theme {
  --primary: black;
  --secondary: white;
}

body {
  background-color: var(--primary);
  overflow-x: hidden;
}

/*nav*/
nav {
  height: 10vh;
  width: 100%;
  padding: 0 50px;
  margin-top: 20px;
}
nav .navbar {
  display: flex;
  align-items: center;
}
nav .navbar .logo {
  width: 100px;
  margin-right: 20px;
}
nav .navbar .navbar-toggler {
  border: none;
  margin-left: auto;
}
nav .navbar .navbar-collapse .navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
nav .navbar .navbar-collapse .navbar-nav .nav-link {
  color: var(--secondary);
  font-size: 18px;
  font-family: regular;
  padding: 15px;
}
nav .navbar .navbar-collapse .navbar-nav .nav-link:hover {
  color: purple;
}
nav .navbar .navbar-collapse .navbar-nav .btn-transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}
@media (max-width: 768px) {
  nav .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 10px;
  }
  nav .navbar-collapse .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .navbar-collapse .navbar-nav .nav-link {
    padding: 10px 20px;
    width: 100%;
  }
}

/*end of nav*/
#hero {
  height: 100vh;
  margin-top: -100px;
}
#hero .container .row {
  display: flex;
  align-items: center;
}
#hero .container .row .txt {
  margin-top: 180px;
}
#hero .container .row .txt h1 {
  margin-bottom: 20px;
  font-family: regular;
  font-weight: 700;
  font-size: 36px;
  color: var(--secondary);
}
#hero .container .row .txt p {
  margin-bottom: 20px;
  font-family: regular;
  font-size: 18px;
  color: var(--secondary);
}
#hero .container .row .txt .btns {
  margin-left: -15px;
}
#hero .container .row .txt .btns .btn1 {
  margin: 18px;
  width: 20vh;
  height: 7vh;
  font-family: regular;
  font-size: 15px;
  background-color: rgb(116, 34, 150);
  color: white;
  border-style: none;
}
#hero .container .row .txt .btns .btn2 {
  margin: 20px;
  width: 20vh;
  height: 8vh;
  font-family: regular;
  font-size: 15px;
  color: black;
  background-color: white;
  border-color: rgb(116, 34, 150);
  border-right-width: 5px;
  border-left-width: 5px;
}
#hero .container .row .txt .vid-icon {
  font-family: regular;
  font-size: 18px;
}
#hero .container .row .txt .vid-icon ul li {
  color: var(--secondary);
  margin-top: 10px;
}
#hero .container .row .txt .vid-icon ul li .list1 {
  margin-left: 40px;
}
#hero .container .row .txt .vid-icon ul li:hover {
  color: purple;
}
#hero .container .row .pict1 {
  display: flex !important;
}
#hero .container .row .pict1 img {
  padding: 0px 8px;
  width: 70vh;
}
#hero .container .row .pict1 .im-1 {
  margin-top: 80px;
}

@media (max-width: 768px) {
  #hero {
    margin-left: 100px;
  }
  #hero .container .row .txt h1 {
    width: 80vh;
    font-size: 45px;
  }
  #hero .container .row .txt p {
    width: 80vh;
    font-size: 30px;
    line-height: 35px;
  }
  #hero .container .row .txt .btns {
    display: flex;
  }
  #hero .container .row .txt .btns .btn2 {
    height: 70px;
  }
  #hero .container .row .pict1 {
    width: 50px;
    margin-left: -40px;
  }
}
#About {
  height: auto !important;
}
#About .container .row {
  display: flex !important;
}
#About .container .row h2 {
  color: var(--secondary);
  font-family: bold;
  font-size: 25px;
  font-weight: 700;
}
#About .container .row .abt {
  margin-top: 30px;
}
#About .container .row .abt p {
  width: 80vh;
  font-size: 18px;
  font-family: regular;
  color: var(--secondary);
}
#About .container .row .abt .about-images {
  margin-top: 30px;
  display: flex;
}
#About .container .row .abt .about-images img {
  width: 200px;
  height: 300px;
}
#About .container .row .abt .about-images #im2 {
  margin-top: 100px;
}
#About .container .row .abt2 {
  margin-left: -60px;
}
#About .container .row .abt2 .video-container {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
}
#About .container .row .abt2 .video-container iframe {
  position: absolute;
}
#About .container .row .abt2 p {
  font-family: regular;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 40px;
  width: 70%;
  color: var(--secondary);
}
#About .container .row .abt2 img {
  margin-left: 40px;
}
#About .container .row .abt2 button {
  margin-top: 20px;
  margin-left: 40px;
  width: 20vh;
  height: 6vh;
  font-family: regular;
  font-size: 16px;
  color: white;
  background-color: rgb(116, 34, 150);
  border-style: none;
}

@media (max-width: 768px) {
  #About {
    margin-bottom: 100px;
  }
  #About .container .row {
    margin-top: 400px;
  }
  #About .container .row h2, #About .container .row p {
    margin: 0px 55px;
  }
  #About .container .row .about-images {
    margin-left: 175px;
  }
  #About .container .row .about-images .img {
    width: 300px;
    height: 300px;
  }
  #About .container .row .about-images #im2 {
    margin-left: 40px;
    margin-top: 5px !important;
    margin-bottom: 50px;
  }
  #About .container .row .abt2 {
    margin-left: 10px;
  }
  #About .container .row .abt2 .video-container {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;
  }
  #About .container .row .abt2 p {
    width: 100%;
    margin-left: 400px;
    margin-top: -160px;
  }
  #About .container .row .abt2 img {
    margin-left: 40px;
  }
  #About .container .row .abt2 button {
    margin-left: 400px;
  }
}
#title {
  font-size: 25px;
  font-family: bold;
  color: var(--secondary);
  margin-left: 150px;
  margin-top: 100px;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  position: relative;
  width: 290px;
  height: 400px;
  margin: 0px 10px;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .overlay2 {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.card .overlay2 h3 {
  text-align: center;
  font-family: bold;
  font-size: 25px;
  color: white;
  padding-bottom: 10px;
  bottom: 0;
  margin-top: 120%;
}
.card .overlay2 #togglebtn {
  display: block;
  margin: 10% auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(116, 34, 150);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  color: white;
}

ol {
  list-style: decimal;
  margin: 0px 25px;
  font-family: regular;
  font-size: 20px;
}
ol li {
  padding: 6px 0px;
}

.overlay h2 {
  font-family: bold;
  text-align: left;
  font-size: 18px;
  margin-left: 20px;
  padding-top: 20px;
  color: white;
}

.card:hover .overlay {
  height: 100%;
}

@media (max-width: 768px) {
  #title h2 {
    font-size: 20px !important;
  }
  .card-container {
    margin-left: 480px;
  }
}
#Testimonials {
  height: 100vh;
  width: 100%;
  margin-top: 100px;
}
#Testimonials .container .row {
  display: flex;
}
#Testimonials .container .row .part1 h2 {
  color: var(--secondary);
  font-family: regular;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
#Testimonials .container .row .part1 h3 {
  color: var(--secondary);
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  font-family: regular;
  font-weight: bold;
}
#Testimonials .container .row .part1 .pone {
  color: var(--secondary);
  font-family: regular;
  margin-left: 100px;
  font-size: 16px;
  font-weight: bold;
}
#Testimonials .container .row .part1 .ptwo {
  margin-left: 100px;
  margin-top: 20px;
  color: var(--secondary);
  font-family: regular;
  font-weight: 500;
  font-size: 18px;
}
#Testimonials .container .row .part2 h3 {
  margin-top: 20px;
  margin-left: 80px;
  margin-bottom: 20px;
  color: var(--secondary);
  font-family: regular;
  font-size: 16px;
  font-weight: bold;
}
#Testimonials .container .row .part2 .pone {
  color: var(--secondary);
  font-family: regular;
  margin-left: 80px;
  font-size: 16px;
  font-weight: bold;
}
#Testimonials .container .row .part2 .ptwo {
  margin-left: 80px;
  margin-top: 20px;
  color: var(--secondary);
  font-family: regular;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 768px) {
  #Testimonials .container .row .part1 h2 {
    margin-left: 60px;
  }
  #Testimonials .container .row .part1 img {
    margin-left: 10px !important;
  }
  #Testimonials .container .row .part2 img {
    margin-top: -200px;
    margin-left: 520px !important;
  }
  #Testimonials .container .row .part2 h3, #Testimonials .container .row .part2 p {
    width: 40vh;
    margin-top: -300px;
    margin-left: 520px !important;
  }
}
#Socials {
  height: auto;
  margin-top: 50px;
}
#Socials .container .row {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#Socials .container .row h2 {
  text-align: center;
  font-family: regular;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
  color: var(--secondary);
}
#Socials .container .row .pics {
  display: flex;
  justify-content: center;
}
#Socials .container .row .pics .pic1, #Socials .container .row .pics .pic2 {
  width: 180px;
  margin: 5px;
  flex-shrink: 0;
}
#Socials .container .row .tag {
  margin-top: 40px;
  color: var(--secondary);
  font-family: regular;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
#Socials .container .row button {
  background-color: rgb(116, 34, 150);
  color: white;
  font-family: regular;
  font-size: 16px;
  border: none;
  margin-top: 20px;
  width: 60%;
  height: 8vh;
  display: block;
  margin: 20px auto;
}
@media (max-width: 768px) {
  #Socials .container .row .pics {
    margin-left: 540px;
  }
  #Socials .container .row .pics .pic1, #Socials .container .row .pics .pic2 {
    width: 140px;
  }
  #Socials .container .row h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #Socials .container .row .tag {
    margin-left: 550px;
    font-size: 18px;
    margin-top: 60px;
  }
  #Socials .container .row button {
    margin-left: 550px;
    font-size: 14px;
    width: 80%;
    height: 6vh;
  }
}

footer {
  margin-top: 40vh;
  height: 100vh;
  min-height: 20vh;
  background-color: rgb(116, 34, 150);
  padding: 20px 0;
}
footer .container {
  width: 100%;
}
footer .container .row {
  display: flex;
  flex-wrap: wrap;
}
footer .container .row .part1, footer .container .row .part2, footer .container .row .part3, footer .container .row .part4 {
  flex: 1;
  padding: 15px;
}
footer .container .row .part1 h3, footer .container .row .part2 h3, footer .container .row .part3 h3, footer .container .row .part4 h3 {
  color: white;
  font-family: regular;
  font-weight: bold;
  font-size: 20px;
}
footer .container .row .part1 hr, footer .container .row .part2 hr, footer .container .row .part3 hr, footer .container .row .part4 hr {
  color: white;
  width: 20vh;
}
footer .container .row .part1 li, footer .container .row .part2 li, footer .container .row .part3 li, footer .container .row .part4 li {
  color: white;
  font-family: regular;
  font-weight: normal;
  font-size: 16px;
  padding: 6px 0px;
}
footer .container .row .part1 .p1, footer .container .row .part2 .p1, footer .container .row .part3 .p1, footer .container .row .part4 .p1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-family: regular;
  font-weight: normal;
  font-size: 16px;
}

@media (max-width: 768px) {
  #foot {
    height: 200% !important;
    width: 106.8vh !important;
  }
  #foot .row {
    flex-direction: column;
    text-align: left;
  }
  #foot .row .part1, #foot .row .part2, #foot .row .part3, #foot .row .part4 {
    font-size: 50px;
    align-items: center;
    text-align: left;
    padding: 20px 40px;
  }
  #foot .row .part1 img {
    width: 20px;
    margin: 5px;
  }
  #foot .row .part1 .p1 {
    font-size: 30px;
  }
  #foot .row h3 {
    font-size: 38px;
  }
  #foot .row li {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */